---
import { getCollection } from "astro:content";
import EventWrapper from "../layouts/EventWrapper.astro";
import EventListItem from "../layouts/EventListItem.astro";
import EventList from "../layouts/EventList.astro";
import "../styles/global.css";

const events = await getCollection("events");
const upcomingEvents = events.filter(
    (event) => event.data.status === "upcoming",
);
console.log("events loaded:", events.length);
---

<div class="container">
    <h1 class="text-lg font-serif italic">Upcoming Events</h1>
    <EventWrapper>
        {
            upcomingEvents.map((event) => (
                <EventListItem>
                    <EventList
                        href={event.data.link}
                        title={event.data.title}
                        body={event.data.description}
                        tags={event.data.tags}
                        date={event.data.date}
                    />
                </EventListItem>
            ))
        }
    </EventWrapper>
</div>
