---
import { getCollection, render } from "astro:content";
import "../../styles/global.css";
import "../../styles/markdown.css";
import "../../styles/cursor.css";
import Nav from "../../components/nav.astro";
import ProjectNav from "../../components/sitemap.astro";
import Mouse from "../../components/Mouse.svelte";
import { getAssetPath, getLinkHref } from "../../utils/paths.ts";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: { slug: project.id },
        props: { project },
    }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="icon"
            type="image/svg+xml"
            href={getAssetPath("favicon.svg")}
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{project.data.title}</title>
    </head>
    <body>
        <!-- <Nav /> -->
        <div class="flex">
            <section
                class="container outline overflow-y-auto"
                id="left-container"
            >
                <section class="outline sticky bg-neutral top-0">
                    <!-- Project Info -->
                    <section class="outline flex flex-row gap-4">
                        <span class="font-serif text-2xl">
                            <a class="hover:blur-xs" href={getLinkHref("/")}
                                >↖︎</a
                            >
                        </span>
                        <h1 class="font-serif text-2xl outline pl-2 pr-5 py-1">
                            {project.data.title}
                        </h1>
                    </section>
                </section>
                <section class="pl-2 pb-1 outline">
                    <div class="flex gap-2 pt-2 pb-1">
                        {
                            project.data.tags && (
                                <span class="text-sm font-mono italic">
                                    {project.data.tags.join(", ")}
                                </span>
                            )
                        }
                        <span class="text-sm font-mono"
                            >{project.data.year}</span
                        >
                    </div>
                </section>
                <section class="px-10 pt-6 pb-3">
                    <!-- Hero Image -->
                    {
                        project.data.heroImage && (
                            <img
                                src={
                                    project.data.heroImage?.startsWith("/")
                                        ? getAssetPath(project.data.heroImage)
                                        : project.data.heroImage
                                }
                                alt={project.data.title}
                                class="w-full mb-4 rounded-lg"
                                loading="lazy"
                            />
                        )
                    }
                </section>
                <!-- Main Content -->
                <section class="outline pt-1 p-10 font-serif text-md">
                    <div class="markdown-content">
                        <Content />
                    </div>
                </section>
            </section>
            <section class="container" id="right-container"></section>
        </div>
        <section class="container font-mono text-sm"></section>
    </body>
    <Mouse client:load />
    <ProjectNav />
</html>
