---
import { getCollection, render } from "astro:content";
import "../../styles/global.css";
import "../../styles/markdown.css";
import Nav from "../../components/nav.astro";
import ProjectNav from "../../components/sitemap.astro";
import Mouse from "../../components/Mouse.svelte";
import { getAssetPath, getLinkHref } from "../../utils/paths.ts";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    const filteredProjects = projects.filter(
        (project) => project.data.link === "",
    );
    return filteredProjects.map((project) => {
        const fileName = project.id.split("/").pop().replace(".md", "");
        const cleanSlug = fileName.replace(/^\d+-/, ""); // remove number prefix chunk
        return {
            params: { slug: cleanSlug },
            props: { project },
        };
    });
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="icon"
            type="image/svg+xml"
            href={getAssetPath("favicon.svg")}
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{project.data.title}</title>
    </head>
    <body>
        <!-- <Nav /> -->
        <div class="flex flex-col lg:flex-row">
            <section
                class="container left-container outline overflow-y-auto"
                id="left-container"
            >
                <div class="outline sticky bg-neutral top-0">
                    <!-- Project Info -->
                    <section class="outline flex flex-row">
                        <span class="font-serif text-2xl pr-4">
                            <a class="hover:blur-xs" href={getLinkHref("/")}
                                >↖︎</a
                            >
                        </span>
                        <h1 class="font-serif text-2xl outline pl-2 pr-5 py-1">
                            {project.data.title}
                        </h1>
                    </section>
                </div>
                <div class="scroll-container outline">
                    <section class="pl-2 pb-1 outline">
                        <div class="flex gap-2 pt-2 pb-1">
                            {
                                project.data.tags && (
                                    <span class="text-sm font-mono italic">
                                        {project.data.tags.join(", ")}
                                    </span>
                                )
                            }
                            <span class="text-sm font-mono"
                                >{project.data.year}</span
                            >
                        </div>
                    </section>
                    <section class="px-5 lg:px-12 pt-6 pb-3">
                        <!-- Hero Image -->
                        {
                            project.data.heroImage && (
                                <img
                                    src={
                                        project.data.heroImage?.startsWith("/")
                                            ? getAssetPath(
                                                  project.data.heroImage,
                                              )
                                            : project.data.heroImage
                                    }
                                    alt={project.data.title}
                                    class="w-full mb-4 rounded-lg"
                                    loading="lazy"
                                />
                            )
                        }
                    </section>
                    <!-- Main Content -->
                    <section
                        class="outline py-5 px-5 lg:px-12 font-serif text-md"
                    >
                        <div class="markdown-content">
                            <Content />
                        </div>
                    </section>
                    <!-- Footer Nav -->
                    <section
                        class="outline sticky bg-neutral bottom-0 flex-row"
                    >
                        <span class="px-2">
                            <a class="hover:blur-xs" href={getLinkHref("/")}>
                                <span class="text-2xl">←</span></a
                            >
                        </span>
                        <span class="px-2">
                            <a class="hover:blur-xs" href={getLinkHref("/")}>
                                <span class="text-2xl">→</span></a
                            >
                        </span>
                    </section>
                </div>
            </section>
            <section
                class="container overflow-y-hidden main-container-right scrollbar-hide"
            >
                <div id="right-outline" class="sitemap flex flex-col outline">
                    <ProjectNav />
                </div>
            </section>
            <Mouse client:load />
        </div>
    </body>
</html>
