---
import { getCollection } from "astro:content";
import "../../styles/global.css";
import "../../styles/project.css";
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/nav.astro";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: { slug: project.id },
        props: { project },
    }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{project.data.title}</title>
    </head>
    <body>
        <Nav />
        <section class="container font-mono text-sm">
            <h1 class="font-serif text-2xl">{project.data.title}</h1>
            <p>Year: {project.data.year}</p>
            {project.data.description && <p>{project.data.description}</p>}

            {
                project.data.tags && (
                    <div>
                        <p>Tags: {project.data.tags.join(", ")}</p>
                    </div>
                )
            }

            <Content />
        </section>
    </body>
</html>
